<!-- app/views/chatrooms/show.html.erb -->
<%= link_to matches_path, class: 'cancel_mtr_button' do %>
 <%= image_tag 'close.png', alt: 'Cancel', class: 'close_button', style: 'height: 30px; width: 30px; padding-left: 310px; padding-top: 5px' %>
<% end %>


<div class="container chatroom">
  <h1>#<%= @chatroom.mentorship_request_id %></h1>


  <div class="messages"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.name %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>



  </div>
</div>

<%= simple_form_for [@chatroom, @message],
  html: {class: "d-flex"} do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@chatroom.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
