<% content_for :page_title do %>
 Perfil
<% end %><!-- app/views/users/show.html.erb -->

<div class="user_info_container">
<%= image_tag "show_profile_image.jpg", alt: "Profile pic", class: "show_profile" %>
  <h1><%= @user.name %></h1>
  <p><strong>Area de Estudo: </strong><%= @user.area_of_study %>  </p>
  <p><strong>Ano de Curso: </strong><%= @user.current_year %>ยบ ano  </p>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Bio:</strong> <%= @user.bio %></p>
  <p><strong>Studentn:</strong> <%= @user.student_id %></p>

<% if !current_user.mentor? && @user.mentor? %>
 <%= button_to mentorship_requests_path(mentor_id: @user.id, mentee_id: current_user.id), method: :post, class: 'mentorship_request_button' do %>
    Request Mentorship
 <% end %>
<% end %>


 <%= link_to search_path, class: 'x_button' do %>
  <%= image_tag "close.png", alt: "X", class: "x_button_image" %>
 <% end %>

</div>
