<% content_for :page_title do %>
  Perfil
<% end %>

<div class="user_info_container">
  <div class="profile-pic-show" style="background-image: url('<%= @user.default_photo %>')"></div>

  <div class='profile-h3-p'>
    <div class="group">
      <h3>Nome:</h3>
      <p><%= @user.name %></p>
    </div>
    <div class="group">
      <h3>Area de Estudo:</h3>
      <p><%= @user.area_of_study %></p>
    </div>

    <div class="group">
      <h3>Ano de Curso:</h3>
      <p><%= @user.current_year %>º</p>
    </div>

    <div class="group">
      <h3>Email:</h3>
      <p><%= @user.email %></p>
    </div>

    <div class="group">
      <h3> Bio: </h3>
      <p> <%= @user.bio %> </p>
    </div>
  </div>



  <% if current_user.mentor? %>
  <div class='profile-h3-p'>
    <div class="group">
      <h3>Apoio ao Estudo:</h3>
      <p><%= current_user.apoio_estudo ? 'Sim' : 'Não' %></p>
    </div>
    <div class="group">
      <h3>Apoio a Bolsas:</h3>
      <p><%= current_user.apoio_bolsas ? 'Sim' : 'Não' %></p>
    </div>
    <div class="group">
      <h3>Apoio Social:</h3>
      <p><%= current_user.ajuda_social ? 'Sim' : 'Não' %></p>
    </div>
  </div>
<% end %>

<% if @user.mentor? %>
  <h2>Posts<%= @user.name %></h2>
  <% @user.posts.each do |post| %>
    <div class="post">
      <h1><%= post.title %></h1>
<%= image_tag post.default_image, alt: post.title %>
      <p>Data: <%= post.created_at.strftime("%B %d, %Y") %></p>
      <p><%= post.body %></p>
    </div>
  <% end %>
<% end %>



  <% if !current_user.mentor? && @user.mentor? %>
    <%= button_to mentorship_requests_path(mentor_id: @user.id, mentee_id: current_user.id), method: :post, class: 'mentorship_request_button' do %>
      Solicitar Mentoria
    <% end %>
  <% end %>

  <%= link_to :back, class: "x_button" do %>
    <%= image_tag "close.png", alt: "X", class: "x_button_image" %>
  <% end %>
</div>
