<% if request.status == 'accepted' %>
  <div>
    <%= image_tag 'tick.png', alt: 'Accepted', class: 'status-icon' %>
  </div>
<div>
  <% if current_user.mentor? %>
    <%= link_to user_path(request.mentee), class: 'x_button' do %>
      <%= image_tag "info_logo.png", alt: "Info", class: "matches-x-button" %>
    <% end %>
  <% else %>
    <%= link_to user_path(request.mentor), class: 'x_button' do %>
      <%= image_tag "info_logo.png", alt: "Info", class: "matches-x-button" %>
    <% end %>
  <% end %>
</div>
  <% if request.chatroom.present? %>
    <div>
      <%= link_to chatroom_path(request.chatroom), class: 'x_button' do %>
        <%= image_tag 'message.png', alt: 'msg', class: 'matches-x-button' %>
      <% end %>
    </div>
  <% else %>
    <div>
      <!-- Handle the case where there is no chatroom -->
    </div>
  <% end %>

  <div>
    <%= button_to destroy_mentorship_request_path(request), method: :patch, class: 'x_button', form: { data: { turbo_confirm: 'De certeza que queres apagar esta conversa? Esta acção não é reversível!' } } do %>
      <%= image_tag 'close.png', alt: 'Cancel', class: 'matches-x-button' %>
    <% end %>
  </div>

<% else %>
  <div>
    <%= button_to cancel_mentorship_request_path(request), method: :patch, class: 'x_button', form: { data: { turbo_confirm: 'De certeza que queres apagar esta conversa? Esta acção não é reversível!' } } do %>
      <%= image_tag 'close.png', alt: 'Cancel', class: 'matches-x-button' %>
    <% end %>
  </div>

<% end %>
<% if current_user.mentor? && request.status != 'accepted' %>
  <div>
    <%= button_to accept_mentorship_request_path(request), method: :patch, class: 'yes_button' do %>
      Sim
    <% end %>
    <%= button_to cancel_mentorship_request_path(id: request.id), method: :patch, class: 'no_button' do %>
      Não
    <% end %>
  </div>
<% end %>
