<% if request.status == 'accepted' %>
  <div>
    <%= image_tag 'tick.png', alt: 'Accepted', class: 'status-icon' %>
  </div>
  <% if request.chatroom.present? %>
    <div>
      <%= link_to chatroom_path(request.chatroom), class: 'x_button' do %>
        <%= image_tag 'message.png', alt: 'msg', class: 'matches-x-button' %>
      <% end %>
    </div>
  <% else %>
    <div>
      <!-- Handle the case where there is no chatroom -->
    </div>
  <% end %>
  <div>
    <%= button_to cancel_mentorship_request_path(request), method: :patch, class: 'x_button', form: { data: { turbo_confirm: 'De certeza que queres apagar esta conversa? Esta acção não é reversível!' } } do %>
      <%= image_tag 'close.png', alt: 'Cancel', class: 'matches-x-button' %>
    <% end %>
  </div>
<% elsif request.status == 'rejected' %>
  <div colspan="3">
    <%= image_tag 'close.png', alt: 'Rejected', class: 'status-icon' %>
  </div>
<% end %>
<div>
  <%= link_to user_path(request.mentee), class: 'x_button' do %>
    <%= image_tag "info_logo.png", alt: "Info", class: "matches-x-button" %>
  <% end %>
</div>