<% content_for :page_title do %>
 Matches
<% end %>

<% if current_user.mentor? %>
 <h1>Mentee Requests</h1>
 <div class= "mentors_table_container">
    <div class= "mentors_table">
    <table>
        <thead>
        </thead>
        <tbody>
     <% @requests.each do |request| %>
 <tr>
    <td><%= request.mentee.name %></td>
    <td>
      <% if request.status == 'accepted' %>
        <%= image_tag 'tick.png', alt: 'Accepted', class: 'status-icon' %>
        <%= link_to 'Message', chatroom_path(request.chatroom), class: 'btn btn-primary' %>
      <%= button_to cancel_mentorship_request_path(request), method: :patch, class: 'cancel_mtr_button' do %>
 <%= image_tag 'close.png', alt: 'Cancel', class: 'x_button_image' %>
<% end %>


      <% elsif request.status == 'rejected' %>
        <%= image_tag 'close.png', alt: 'Rejected', class: 'status-icon' %>
      <% end %>
    </td>
    <td>
      <%= link_to user_path(request.mentee), class: 'view_profile' do %>
        <%= image_tag "info_logo.png", alt: "Info", class: "info_button_image_matches" %>
      <% end %>
    </td>
    <td>
      <% unless request.status == 'accepted' %>
        <%= button_to 'Yes', accept_mentorship_request_path(request), method: :patch %>
        <%= button_to 'No', cancel_mentorship_request_path(request), method: :patch %>
      <% end %>
    </td>
 </tr>
<% end %>

        </tbody>
    </table>
 </div>
 </div>

<% else %>

 <h1>Your Requests</h1>
 <div class= "mentors_table_container">
    <div class= "mentors_table">
 <table>
    <thead>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= request.mentor.name %></td>
          <td>
            <% if request.status == 'accepted' %>
              <%= image_tag 'tick.png', alt: 'Accepted', class: 'status-icon' %>
            <%= link_to 'Message', chatroom_path(request.chatroom), class: 'message_button' %>

            <% elsif request.status == 'rejected' %>
              <%= image_tag 'close.png', alt: 'Rejected', class: 'status-icon' %>
            <% end %>
          </td>
          <td>
            <%= link_to user_path(request.mentor), class: 'view_profile' do %>
              <%= image_tag "info_logo.png", alt: "Info", class: "info_button_image_matches" %>
            <% end %>
          </td>
          <td>

                    <%= button_to 'Cancel', cancel_mentorship_request_path(request), method: :patch, class: 'cancel_mtr_button' %>
      <%= image_tag "close.png", alt: "X", class: "x_button_image" %>

          </td>
        </tr>
      <% end %>
    </tbody>
 </table>
 </div>
 </div>
<% end %>

<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-light mx-2" %>
