<% content_for :page_title do %>
 Matches
<% end %>

<% if current_user.mentor? %>
 <h1>Mentee Requests</h1>
 <div class= "mentors_table_container">
    <div class= "mentors_table">
    <table>
        <thead>
        </thead>
        <tbody>
          <% @requests.each do |request| %>
            <tr>
              <td><%= request.mentee.name %></td>
              <td>
                <% if request.status == 'accepted' %>
                 <%= image_tag 'tick.png', alt: 'Accepted', class: 'status-icon' %>
                <% elsif request.status == 'rejected' %>
                 <%= image_tag 'close.png', alt: 'Rejected', class: 'status-icon' %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(request.mentee), class: 'view_profile' do %>
                 <%= image_tag "info_logo.png", alt: "Info", class: "info_button_image_matches" %>
                <% end %>
              </td>
              <td>
                <%= button_to 'Yes', accept_mentorship_request_path(request), method: :patch %>
                <%= button_to 'No', cancel_mentorship_request_path(request), method: :patch %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
 </div>
 </div>

<% else %>

 <h1>Your Requests</h1>
 <div class= "mentors_table_container">
    <div class= "mentors_table">
 <table>
    <thead>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= request.mentor.name %></td>
          <td>
            <% if request.status == 'accepted' %>
              <%= image_tag 'tick.png', alt: 'Accepted', class: 'status-icon' %>
            <% elsif request.status == 'rejected' %>
              <%= image_tag 'close.png', alt: 'Rejected', class: 'status-icon' %>
            <% end %>
          </td>
          <td>
            <%= link_to user_path(request.mentor), class: 'view_profile' do %>
              <%= image_tag "info_logo.png", alt: "Info", class: "info_button_image_matches" %>
            <% end %>
          </td>
          <td>

              <%= button_to 'Cancel Request', mentorship_request_path(request), method: :delete, data: { confirm: 'Are you sure?' } %>

          </td>
        </tr>
      <% end %>
    </tbody>
 </table>
 </div>
 </div>
<% end %>

<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-light mx-2" %>
