<% content_for :page_title do %>
  O Meu Perfil
<% end %>

<div class='profile-page-title'>
  <h1> Mentor </h1>
  <%= button_to(image_tag("user-pen.png", alt: "Edit Profile", class: "image-responsive"), edit_user_path(current_user), method: :get, class: "edit-profile-button") %>
</div>

<div class="profile-pic"
  style="background-image: url('<%= @user.default_photo %>')"
>
</div>

<h3>Nome:</h3>
<p><%= @user.name %></p>


<h3>Area de Estudo:</h3>
<p><%= @user.area_of_study %></p>


<h3>Ano de Curso:</h3>
<p><%= @user.current_year %></p>

<h3>Email:</h3>
<p><%= @user.email %></p>

<p><%= @user.student_id %></p>


<h3> Bio: </h3>
<p> <%= @user.bio %> </p>


<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-light mx-2" %>
