<% content_for :page_title do %>
  O Meu Perfil
<% end %>

<div class='profile-page-title'>
  <div>
    <% if current_user.mentor? %>
      <h1> Mentor </h1>
    <% else %>
      <h1> Mentee </h1>
    <% end %>
  </div>
  <%= button_to(image_tag("user-pen.png", alt: "Edit Profile", class: "small-img image-responsive"), edit_user_path(current_user), method: :get, class: "edit-profile-button") %>
</div>

<div class="profile-pic-show" style="background-image: url('<%= @user.default_photo %>')"></div>

<div class='profile-h3-p'>
  <div class="group">
    <h3>Nome:</h3>
    <p><%= @user.name %></p>
  </div>
  <div class="group">
    <h3>Area de Estudo:</h3>
    <p><%= @user.area_of_study %></p>
  </div>

  <div class="group">
    <h3>Ano de Curso:</h3>
    <p><%= @user.current_year %>º</p>
  </div>
  <div class="group">
    <h3>Email:</h3>
    <p><%= @user.email %></p>
  </div>

  <div class="group">
    <h3> Bio: </h3>
    <p> <%= @user.bio %> </p>
  </div>
</div>

<% if current_user.mentor? %>
  <div class='profile-h3-p'>
    <div class="group">
      <h3>Apoio ao Estudo:</h3>
      <p><%= current_user.apoio_estudo ? 'Sim' : 'Não' %></p>
    </div>
    <div class="group">
      <h3>Apoio a Bolsas:</h3>
      <p><%= current_user.apoio_bolsas ? 'Sim' : 'Não' %></p>
    </div>
    <div class="group">
      <h3>Apoio Social:</h3>
      <p><%= current_user.ajuda_social ? 'Sim' : 'Não' %></p>
    </div>
  </div>
<% end %>


<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-light mx-2" %>
