<% content_for :page_title do %>
  O Meu Perfil
<% end %>

<h1> Mentor </h1>

<div class="profile-pic"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.default_photo, height: 300, crop: :fill %>')"
>
</div>

<h3>Nome:</h3>
<p><%= @user.name %></p>


<h3>Area de Estudo:</h3>
<p><%= @user.area_of_study %></p>


<h3>Ano de Curso:</h3>
<p><%= @user.current_year %></p>

<h3>Email:</h3>
<p><%= @user.email %></p>

<p><%= @user.student_id %></p>


<h3> Bio: </h3>
<p> <%= @user.bio %> </p>

<%= link_to "Edit Profile", edit_user_path(current_user) %>


<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-light mx-2" %>
