<% content_for :page_title do %>
 O Meu Perfil
<% end %>

<h1> Mentor </h1>

<%= image_tag 'student.jpg', alt: "student picture", class: 'student' %>

<h3>Nome:</h3>
<p><%= @user.name %></p>


<h3>Area de Estudo:</h3>
<p><%= @user.area_of_study %></p>


<h3>Ano de Curso:</h3>
<p><%= @user.current_year %></p>

<h3>Email:</h3>
<p><%= @user.email %></p>


<h3> Bio: </h3>
<p> <%= @user.bio %> </p>
<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-light mx-2" %>
