<% content_for :page_title do %>
  Mentores
<% end %>

<%= form_with(url: search_path, method: "get") do %>
  <%= label_tag(:area_of_study, "Area de Estudo:") %>
  <%= select_tag(:area_of_study, options_for_select(["Todas as Areas"] + User.pluck(:area_of_study).uniq, params[:area_of_study])) %>
  <%= submit_tag("Filtrar") %>
<% end %>


<div class="mentors-containers">
  <div class="mentors">
    <% if @mentors.empty? %>
      <h2>Não há mentores disponíveis</h2>
    <% end %>
    <% @mentors.each do |mentor| %>
      <div class="mentor">
        <div class="mentor-image-show"
          style="background-image: url('<%= mentor.default_photo %>')">
        </div>
        <div class="mentor-info">
          <h3 class="search-page-h3"><%= mentor.name %></h3>
          <% if mentor.mentor? %>
            <%= link_to user_path(mentor), class: 'view_profile' do %>
              <%= image_tag "info_logo.png", alt: "Info", class: "info_button_image" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @pagy.pages > 1 %>
  <div class="pagy">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>
