<% content_for :page_title do %>
  Mentores
<% end %>

<div class="mentors-containers">
  <div class="mentors">
    <% @mentors.each do |mentor| %>
      <div class="mentor">
        <div class="mentor-image"
          style="background-image: url('<%= mentor.default_photo %>')">
        </div>
        <div class="mentor-info">
          <h3 class="search-page-h3"><%= mentor.name %></h3>
          <% if mentor.mentor? %>
            <%= link_to user_path(mentor), class: 'view_profile' do %>
              <%= image_tag "info_logo.png", alt: "Info", class: "info_button_image" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-light mx-2" %>
