<h1>Create a Post</h1>

<%= simple_form_for @post, html: { multipart: true } do |f| %>
  <div>
    <%= f.input :title, label: "Título" %>
  </div>
  <div>
    <%= f.input :body, label: "Conteúdo" %>
  </div>
  <div>
    <%= f.input :image, as: :file, label: "Imagem" %>
  </div>
  <div>
    <%= f.submit "Criar Post" %>
  </div>
<% end %>
